<h2>Welcome to the <strong>restaurant name</strong></h2>
<h3>Select what you want to do:</h3>
<div id="userview-1-choice">
    <a class="userview-1-btn" id="create-reservation">➕Create a new reservation</a>
    <a class="userview-1-btn" id="see-reservation">🟰See your reservation</a>
</div>