<h1>Customer Sign-in:</h1>
<form id="custLoginForm">
    <input type="text" id="custLoginEmail" placeholder="email">
     <input type="Password" id="custLoginPassword" >
    <button>Customer Login</button>
</form>

<h1>New Customer? Sign up here:</h1>
<form id="custSignupForm">
    <input type="text" id="custSignupName" placeholder="New Username">
    <input type="text" id="custSignupEmail" placeholder="email">
     <input type="Password" id="custSignupPassword" >
    <button>Sign up!</button>
</form>

<script src="/js/custLogin.js"></script>