<h1>Make a Reservation</h1>

<div>
    <button type="button" id="restaurantBtn">Restaurant</button>
</div>

<div>
    <button type="button" id="customerBtn">Customer</button>
</div>

<script src="/js/homepage.js"></script>