<div class="userview-form">
<h2>Welcome {{name}}, </h2>
<h3>Select what you want to do:</h3>
    <btn class="form-btn  " id="create-reservation">➕ Create a new reservation</btn>
    <btn class="form-btn  " id="see-reservation">🟰 Check your reservation</btn>
</div>


<script src="/js/userprofile.js"></script>