<div class="userview-form" id="see-reservation-form">

  <h2 class="form-h2">Here is your current reservation</h2>
  <session class="restaurant-profile" id="restaurant-profile">
    <img class="restaurant-pic" src="js/Restaurant-profile-pic.jpeg" />
    <h3>Restaurant Name</h3>
  </session>
  <div class="reservation-form" id="reservation-form">
    <p>Customer Email</p>
    <p>{{email}}</p>
    <p>Party Size</p>
    <p>{{party_size}}</p>
    <p>Date:</p>
    <p>{{reservation_date}}</p>
    <p>Time:</p>
    <p>{{reservation_time}}</p>
    <p></p>
  </div>
  <button class="form-btn  " id="edit-reservation">Reschedule</button>
  <button class="form-btn  " id="cancle-reservation">Cancle</button>

</div>

<script src="/js/userview2-2.js"></script>