<div class="userview-form" id="make-reservation-form">
  <h2>Make a reservation</h2>
  <label for="Restaurant">Restaurant</label>
  <select name="Restaurant" id="restaurant">
    {{#each Owner}}
      <option>{{restaurant_name}}</option>
    {{/each}}
  </select>
  <label for="party-size">Party Size</label>
  <select name="party-size" id="party-size">
    <option>1</option>
    <option selected="selected">2</option>
    <option>3</option>
    <option>4</option>
    <option>5 and above</option>
  </select>
  <label for="date">Date:</label>
  <input type="text" id="datepicker" />
  <p id="alertmsg"></p>
  <div class="time-slot" id="available-time">
    {{!-- {{#each time}}
    <button class="form-btn">{{time_available}}</button>
    {{/each}} --}}
  </div>
  <div id="picked-time-div">
    <p>Time picked: <span id="selected-time"></span></p>
  </div>
  <a class="form-btn" href="/customers">Back</a>
  <button class="form-btn" id="findtime">Find a time</button>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/userview2-1.js"></script>