<form class="userview-form" id="make-reservation-form">
  <h2 class="form-h2">Here is your current reservation</h2>
  <session class="restaurant-profile">
  <img class="restaurant-pic" src="js/Restaurant-profile-pic.jpeg">
  <h3>Restaurant Name</h3>
  </session>
  <label for="party-size">Party Size</label>
  <label>3</label>
  <label for="date">Date:</label>
  <label for="date">02/03/2023</label>
  <label for="time">Time:</label>
  <label for="time">12:00</label>
  <label for="time">Lunch</label>
  {{!-- {{> available-time-details}} --}}
  <button class="form-btn" id="edit-reservation">Reschedule</button>
  <button class="form-btn" id="cancle-reservation">Cancle</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/userview2-1.js"></script>