<form class="userview-form" id="make-reservation-form">
  <h2>Make a reservation</h2>
  <label for="party-size">Party Size</label>
  <select name="party-size" id="party-size">
    <option>1</option>
    <option selected="selected">2</option>
    <option>3</option>
    <option>4</option>
    <option>5 and above</option>
  </select>
  <label for="date">Date:</label>
  <input type="text" id="datepicker" />
  <label for="time">Time:</label>
  <select name="time" id="party-time">
    <option>lunch</option>
    <option selected="selected">dinner</option>
  </select>
  <div id="available-time">
  </div>
  <button class="form-btn" id="findtime">Find a time</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/userview2-1.js"></script>
