<main class="userview-form">

<h1>Customer Sign-in:</h1>
<form id="custLoginForm">
    <input type="text" id="custLoginEmail" placeholder="email">
     <input type="Password" id="custLoginPassword" placeholder="password">
<div >
    <button class="form-btn">Customer Login</button>
</div>
</form>
</main>

<script src="/js/view2.js"></script>
