<main class="userview-form">

<h1>Owner Sign in</h1>
<div>

<form id="restLoginForm">
    <input type="text" id="restLoginEmail" placeholder="email">
     <input type="Password" id="restLoginPassword" placeholder="password">
    <button class="form-btn">Restaurant Login</button>
</form>
</div>
</main>
<main class="userview-form">
<h1>New Restaurant? Sign up here:</h1>
<div>
    <button id="restsignupBtn" class="form-btn">Sign up!</button>
</div>
</main>

<script src="/js/view3.js"></script>