<h1>Owner Sign in</h1>
<form id="restLoginForm">
    <input type="text" id="restLoginEmail" placeholder="email">
     <input type="Password" id="restLoginPassword" >
    <button>Restaurant Login</button>
</form>

<h1>New Restaurant? Sign up here:</h1>
<form id="restSignupForm">
    <input type="text" id="restSignupName" placeholder="Name of Restaurant">
    <input type="text" id="restSignupEmail" placeholder="email">
     <input type="Password" id="restSignupPassword" >
    <button>Sign up!</button>
</form>

<script src="/js/view3.js"></script>