{{!-- <main class="userview-form"></main>
<h1>New Customer? Sign up here:</h1>
<form id="custSignupForm">
    {{!-- <input type="text" id="custSignupName" placeholder="New Username"> --}}
    <input type="text" id="custSignupEmail" placeholder="email">
     <input type="Password" id="custSignupPassword" placeholder="New Password" >
<div>
    <button class="form-btn">Sign up!</button>
</div>
</form>
</main>

<script src="/js/view2-0.js"></script> --}}