

<h1>Welcome back {{restaurant_name}}</h1>

<div class="userview-form">
    <button class="form-btn" type="button" id="viewresBtn">View Reservations</button>

    <button class="form-btn  " type="button" id="updateMenuBtn">Update Menu</button>

    <button class="form-btn  " type="button" id="updateTablesBtn">Update Tables</button>
</div>


<script src="/js/view3-2.js"></script>