<main class="userview-form">

<h1>Current reservations: </h1>

    <table class="owner-table">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Party Size</th>
    </tr>
    <tr>
        <div>
    {{#each owner.Reservations}}
    <td>{{reservation_date}}</td>
    <td>{{reservation_time}}</td>
    <td>{{party_size}}</td>
        </div>
        </tr>
    {{/each}}
    </table>
    {{#if hasRes}}
    <h3></h3>
    {{else}}
    <h3>You have no reservations</h3>
    {{/if}}
<div>
<button class="form-btn" id="resProfileBtn">Return to profile</button>
</div>
</main>
<script src="/js/view3-2-1.js"></script>