<h1>Welcome (Restaurant Name) !</h1>

<div class="userview-form">
    <button class="form-btn  " type="button" id="createTableBtn">Create Restaurant Tables</button>
</div>

<div class="userview-form">
    <button class="form-btn  " type="button" id="createMenuBtn">Create Restaurant Menu</button>
</div>

<script src="/js/view3-1.js"></script>