<form class="userview-form" id="make-reservation-form">
  <h2>Update available tables</h2>
  <h3>Current number of tables avaiable for reservations:</h3>
  <h3>{{table_capacity}}</h3></br>
  <label for="avail-tables">Available Tables</label>
  <select name="avail-tables" id="avail-tables">
    <option>1</option>
    <option selected="selected">2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
  </select>

  <button class="form-btn" id="updateTble">Update available tables</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/view3-2-3.js"></script>