

<h1>Welcome back (Restaurant Name) !</h1>

<div class="userview-form">
    <button class="form-btn" type="button" id="viewresBtn">View Reservations</button>
</div>

<div class="userview-form">
    <button class="form-btn" type="button" id="updateMenuBtn">Update Menu</button>
</div>
<div class="userview-form">
    <button class="form-btn" type="button" id="updateMenuBtn">Update Tables</button>
</div>


<script src="/js/view3-2.js"></script>