

<form class="userview-form" id="make-reservation-form">
  <h2>Update available tables</h2>
  <h3>Current number of tables: {{table_capacity}} </h3>
 
  <label for="avail-tables">Updated number of tables:</label>
  <input type="number"  id="avail-tables" placeholder="(ex: 10)">
   

  <button class="form-btn" id="updateTble">Update available tables</button>
</form>



{{!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script> --}}
<script src="/js/view3-2-3.js"></script>