<main class="userview-form">

<h1>Current reservations:</h1>
<div>
    {{#each reservation}}
    <li value="{{id}}">{{reservation_date}}, {{reservation_time}}, {{party_size}} </li>
    {{#each}}
</div>
</main>
<script src="/js/view3-2-1.js"></script>