<main class="userview-form">

<h1>Menu</h1>
<table class="owner-table">
    <tr>
        <th>Main Dish</th>
        <th>Side</th>
        <th>Remove</th>
    </tr>
    <tr>
        <div>
    {{#each Dishes}}
    <td>{{dishes}}</td>
    <td>{{side}}</td>
    
     <td class="tbleBtn"><button class="delBtn" id="{{id}}">remove</button></td>
    </tr>
    {{/each}}
        </div>
</table>

    <button class="form-btn" id="add-dish">Add item to menu</button>
    <div class="hide" id="dish-form-div">
    <form id="add-dish-form">
        <input type="text" id="addDish" placeholder="new dish"/>
        <input type="text" id="addSide" placeholder="new side"/>
        <button class="form-btn" id="save-new-dish">Save New Dish</button>
    
    </form>
         <button class="form-btn" id="cancel-new-dish">Cancel</button>
    </div>
    <button class="form-btn" id="menuProfileBtn">Return to profile</button>
</main>

<script src="/js/view3-2-2.js"></script>