<h1>Create a restaurant profile by filling out the form below:</h1>

<div class="userview-form">
    <form id="restSignupForm">
    <label for="restSignupName">What is the name of your restaurant?</label>
    <input type="text" id="restSignupName" placeholder="Name of Restaurant"> </br>
   
    <label for="opentime">what time do you open?</label>
      <input type="text" id="opentime" placeholder="(ex: 10:00)"></br>
    
    <label for="closetime">What time do you close?</label>
     <input type="text" id="closetime" placeholder="(ex:23:00)"></br>
   
   <label for="maxtable">How many tables does your restaurant have?</label>
     <input type="number" id="maxtable" placeholder="enter a number"></br>

   
    <label for="restSignupEmail">Email:</label>
    <input type="text" id="restSignupEmail" placeholder="email"></br>
   
    
    <label for="restSignupPassword">New Password:</label>
     <input type="Password" id="restSignupPassword" placeholder="new password"></br>
     
    
    
    
     <div>
    <button class="form-btn">Sign up!</button>
</div>
</form>
</div>


<script src="/js/view3-1.js"></script>