<main class="userview-form">

<h1>Menu</h1>
<table class="owner-table">
    <tr>
        <th>Main Dish</th>
        <th>Side</th>
        <th>Edit</th>
    </tr>
    <tr>
    {{#each Dishes}}
    <td>{{dishes}}</td>
    <td>{{side}}</td>
    <td><button class="show-edit-form">edit</button></td>
    <div class="hide" id="menu-edit">
    <form  id="edit-menu">
        <input type="text" id="editDish" value="{{dishes}}"/>
        <input type="text" id="editSide" value="{{side}}"/>
        <button id="save-dish">Save Changes</button>
    </form>
    </div>
    </tr>
    {{/each}}
</table>
    <button id="add-dish">Add item to menu</button>
</main>
<script src="/js/view3-2-2.js"></script>