<main class="userview-form">

<h1>Customer Sign-in:</h1>
<form id="custLoginForm">
    <input type="text" id="custLoginEmail" placeholder="email">
     <input type="Password" id="custLoginPassword" placeholder="password">
<div >
    <button class="form-btn  ">Customer Login</button>
</div>
</form>
</main>
<main class="userview-form">

<h1>New Customer? Sign up here:</h1>
<form id="custSignupForm">
    <input type="text" id="custSignupName" placeholder="New Username">
    <input type="text" id="custSignupEmail" placeholder="email">
     <input type="Password" id="custSignupPassword" placeholder="New Password" >
<div>
    <button class="form-btn  ">Sign up!</button>
</div>
</form>
</main>

<script src="/js/view2.js"></script>