<h1>Welcome back (Restaurant Name) !</h1>

<div>
    <button type="button" id="viewresBtn">View Reservations</button>
</div>

<div>
    <button type="button" id="updateMenuBtn">Update Menu</button>
</div>

<script src="/js/view3-2.js"></script>