<main class="userview-form">

<h1>Owner Sign in</h1>

<form id="restLoginForm">
    <input type="text" id="restLoginEmail" placeholder="email">
     <input type="Password" id="restLoginPassword" placeholder="password">
    <p>New restaurant? Sign up <a href="/newrestaurant">here</a></p>
<div>
    <button class="form-btn  ">Restaurant Login</button>
</form>
</div>
</main>

<script src="/js/view3.js"></script>