<main >
<div class="userview-form">


<h1>Make a Reservation</h1>

    <button class="form-btn" type="button" id="customerBtn">Customer Sign-in</button>
    <button class="form-btn" type="button" id="newcustomerBtn">New Customer Sign-up</button>
</div>
<div class="userview-form">

 <h1>Own a restaurant? Sign-in here:</h1>   
    <button class="form-btn" type="button" id="restaurantBtn">Restaurant</button>

</div>
</main>
<script src="/js/view1.js"></script>