:root{
    --redbtn-background-color:#c1121f;
    --whitefont-color:#ffffff;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

header{
    font-family: 'Dancing Script', cursive;
    font-size:500%;
    border-bottom:3px solid var(--redbtn-background-color);
    text-align: center;
    padding:2%;
}

#userview-1-choice{
    display: flex;
    border:1px solid black;
}

.userview-1-btn{
    background-color: var(--redbtn-background-color);
    padding: 1em;
    margin-right:5px;
    color:var(--whitefont-color);
    border:1px solid yellow;
}

.userview-form{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    line-height: 3em;
    padding:2em;
    height:max-content;
}

.form-h2{
  border-bottom: 2px solid #dadce0;
}

.restaurant-profile{
  display:flex;
  flex-direction: column;
align-content: center;
flex-wrap:wrap;
}

.restaurant-pic{
  width:30%;
  height: 30%;
  border-radius: 50%;
  padding:5% 0 5% 0
}

.reservation-form{
  display: flex;
  flex-direction: column;
  line-height: 3em;
}

.form-btn {
  margin-top: 2em;
  background:var(--redbtn-background-color);
  border: 1px solid var(--redbtn-background-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.main-view {
  border: 3px solid #fff;
  padding: 20px;
}
.main-children{
  /* width: 50%;
  float: left;
  padding: 20px;  */

  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  line-height: 3em;
  padding:2em;
  height:max-content;
}

.form-btn:hover,
.form-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--redbtn-background-color)
}

.form-btn:active {
  opacity: .5;
}

.userview-form:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}
